nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

nav .logo {
  font-family: 'Bungee', sans-serif;
}

nav .new-tweet {
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav .icon-wrapper i {
  display: block;
  margin: 0 auto;
  margin-top: 0.02em;
}
/* 
body {
  color: #000000;
  background-color: #ffbb00;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
} */