#tweet-text {
  border: none;
  border-bottom: 2px solid;
  background: transparent;
  font-size: 75%;
 }

 .counter {
  font-family: 'Bungee', sans-serif;
  color: #53555c;
  float: right;
  font-size: 20px;
}

.btn {
  background-color: #4056A1;
  color:white;
  font-family: 'Bungee', 'sans-serif';
  font-size: 20px;
}